extends layout

block content
    if(user)
        h6 Thank you for using Merkato, #{user.firstname}!
            a(id="ig" href="/logout")
                button(type='submit' style='padding: 2px 20px; margin-left: 8px') Logout
        hr
        p.
            For technical support or feedback, please fill out 
            the form below:
        form(method='POST' action='/contact')
            div
                // Populate the fields for the user so there's no need of entering again
                p User name: 
                    input(type='text' name='name' value=user.username placeholder='Full name' size='45' required)
            div            
                p Email: 
                    input(type='email' name='email' value=user.email placeholder='Email' size='50' required)
            div
                p Question/feedback: 
                textarea(name='comment' rows='4' cols='58' required)
            div
                button(type='reset' value='Reset' style='padding: 0 24px; margin: 8px 18px 0 0') Reset    
                button(type='submit' id='subm' value='Submit' style='padding: 0 18px') Submit
    else
        h6 Thank you for using Merkato!
        hr
        p.
            For technical support or feedback, please fill out 
            the form below:
        form(method='POST' action='/contact')
            div
                p Full name: 
                    input(type='text' name='name' placeholder='Full name' size='46' required)
            div            
                p Email: 
                    input(type='email' name='email' placeholder='Email' size='50' required)
            div
                p Question/feedback: 
                textarea(name='comment' rows='4' cols='58' required)
            div
                button(type='reset' value='Reset' style='padding: 0 24px; margin: 8px 18px 0 0') Reset    
                button(type='submit' id='subm' value='Submit' style='padding: 0 18px') Submit
