body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/background.jpg);
}

a#ig {
    font-size: inherit;
}

a {
    color: #00B7FF;
    font-size: 1.2rem;
    font-weight: bold;
}

h6 {
    color: maroon;
}
